{{#if indexPage}}
<header>
    <nav class="navbar">
        <div class="manu-bar">
            <a class="nav-link" href="#"{{action "select" "collapse"}}>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="navbar-left">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"{{action "select" "alternative data"}}>alternative data</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"{{action "select" "core financial data"}}>core financial data</a>
                </li>
            </ul>
        </div>
        <div class="navbar-logo">
            <a class="nav-link" href="#"><img src='assets/quandl-logo.svg' atl="quandl logo"></a>
        </div>
        <div class="navbar-right">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"{{action "select" "docs & help"}}>docs & help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"{{action "select" "blog"}}>blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"{{action "select" "sign in"}}>sign in</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="sub-header">
        <div class="sub-header-content">
            <img src="../assets/avatar.png" alt="avatar">
            <span class="sub-title">Data Publisher</span>
        </div>
    </div>
</header>
{{/if}}
{{outlet}}


