<div>
    <div class="tag">COMMERCIAL DATA</div>
    <div class="info">
        <h4 class="title">DATA OVERVIEW</h4>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur vero enim impedit itaque magni, minima quod nam harum. </p>
    </div>
    <div class="details-container">
        {{data-overview title="DELIVERY FREQUENCY" value="Daily"}}
        {{data-overview title="DATA FREQUENCY" value="Daily"}}
        {{data-overview title="REPORTING LAG" value="12 hours"}}
        {{data-overview title="HISTORY" value="Nov 2005"}}
        {{data-overview title="COVERAGE" value="5,000+ companies, 59 indicators"}}
    </div>
    <div class="search-bar"> 
        <div class="search-input">
        <input type="text" placeholder="Tables API">
        <i class="fa fa-info-circle"></i>
        </div>
        <button type="submit">Pricing</button>
    </div>
</div>
